@model ClassLibrary.Entidades.Produto

<div class="well">
    <h3></h3>
    <h3> <strong>@Model.ProdutoNome</strong></h3>
    <h3> <span class="pull-right label label-primary">@Model.ProdutoPreco.ToString("C")</span></h3>
    <h3><span class="lead">@Model</span> </h3>
</div>

